.App{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container{
height: 700px;
width: 500px;
padding: 10px;
background-color: rgb(245, 245, 245);
}
.tables{
  width: 100%;
}
table, th, td {
  border:1px solid black;
}
td{
  text-align: center;
}
.table-heading{
  padding: 10px;
  font-size: larger;
  font-weight: 800;
  text-align: center;
}
.line
{
  padding: 5px;
}